.greyed {
    color: grey;
}

table {
    border: 1px solid black;
    min-width: 250px;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    min-width: 250px;
    text-align: center;
}

.shrink {
    min-width: 0px;
}